<!--{%extends "parent.html"%}-->
<!--{%block title%}Mini Bank{%endblock%}-->
<!--{%block content%}-->
<!--<form action="register/" class="box" method="GET">-->
<!--    {% csrf_token %}-->
<!--    <h3>Registration Form</h3>-->
<!--        <label for="username">User Name:</label>-->
<!--        <input type="text" name="name" id="username">-->
<!--        <label for="email">Email:</label>-->
<!--        <input type="text" name="email" id="email">-->
<!--        <label for="password">Password:</label>-->
<!--        <input type="text" name="password" id="password">-->
<!--        <input type="submit" value="Submit">-->
<!--</form>-->
<!--{%endblock%}-->